%h2 Listing skills

%table{:class => 'list'}
  %tr
    %th Name
    %th{:colspan => 2} Actions
  - unless @skills.empty?
    - @skills.each do |skill|
      %tr
        %td= skill.name
        %td= link_to 'Edit', edit_skill_path(skill)
        %td= link_to 'Destroy', skill, :confirm => 'Are you sure?', :method => :delete
  - else
    %tr
      %td{:colspan => 3} There are no skills to show yet.

%br

= will_paginate(@skills)

%br

= link_to 'Create a new skill', new_skill_path