%table{:class => 'list'}
  %tr
    %th Name
    %th{:colspan => 2} Actions
  - unless @projects.empty?
    - @projects.each do |project|
      %tr
        %td= link_to project.name, project
        %td= link_to 'Edit', edit_project_path(project)
        %td= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete
  - else
    %tr
      %td{:colspan => 3} There are no projects to show yet.

%br

= will_paginate(@projects)

- content_for :smart_navigation do
  = link_to 'Create a new project', new_project_path