- content_tag_for :div, @project do
  %ul
    %li
      %string Skills needed:
      %ul
        - unless @project.skills.empty?
          - @project.skills.each do |skill|
            %li=h skill.name
        - else
          %li No skills are associated with this project
  %ul
    %li
      %string Ideal Resources:
      %ul
        - unless @project.ideal_people_grouped.empty?
          - @project.ideal_people_grouped.each do |name,skills|
            %li=h "#{name} (has #{skills.map(&:skill) * ', '})"
        - else
          %li No ideal resources were found for this project
        
- content_for :context_navigation do
  %h2= @project.name
  %p= link_to 'Edit this project', edit_project_path(@project)
  %p= link_to 'Delete this project', @project, :confirm => 'Are you sure?', :method => :delete